#commentinput{
    display: flex;
    justify-content: space-around;

}

#commentinput > input {
    flex-basis: 15%;
}


#commentinput > textarea {
    flex-basis: 55%;
}

#comment{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.collapse-close-btn{
    width:100%;
    display:flex;
    justify-content: flex-end;
}
.profile-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.cmt-col{
    border-bottom: 1px;
    border-bottom-style: inset;
}
.cmt-list > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowarp;
    -webkit-line-clamp: 1;
}


.comment-input-container {
    display: flex;
    align-items: flex-end; /* 아래쪽 정렬 */
    gap: 10px;
}

.comment-input-container .name-input {
    flex: 0 0 15%;
}

.comment-input-container .comment-input {
    flex: 0 0 75%;
}