/* header css 부분 */
#header {  
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100px;
    padding-bottom: 8.751rem;
    z-index: 100;
}

#mainlogo {
    flex : 1 1 auto;
}

#mainlogo > img {
    height: 50px;
    width: 100px;
}

#headernav {
    flex : 1 1 auto;
}

.header-nav-item{

}

