#container {
    /*padding-top: 8rem;
    width: 45%;
    margin-left: 27.5%;
    margin-right: 27.5%;
*/
margin-top: 120px;

background-color: #4A4F3A;
}
#contents{
    margin-left: 25%;
    margin-right: 25%;
}
