#teamcard{
    width : 1500px;
    margin: 20px auto 20px auto;
    padding: 20px;
    border-radius: 10px;
  }

 #firstn{
    font-size: 2em;
    font-weight: bold;
  }
  .togglebtn {
    position: absolute;
    right: 5px;
    bottom: 5px;
    }