#teamgoal {
  display: flex;
  flex-direction: column;
  height: 1000px; 
}

.half:first-child {
  background-color: #4CAF50;
}
.half:last-child {
  background-color: #2196F3;
}

.half{
  flex-basis:50%;
}