@font-face {
    font-family: "vitrocore";
    src: url("../fonts/vitrocore.ttf") format("truetype");
    font-weight: normal; 
}

@font-face {
    font-family: 'vitropride';
    src: url('../fonts/vitropride.ttf') format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: 'vitroin';
    src: url('../fonts/vitroin.ttf') format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: 'gm';
    src: url('../fonts/gm.ttf') format("truetype");
    font-weight: normal;
}



.card-title{
    font-family: 'vitrocore' , sans-serif;
    letter-spacing: .3em;
}

.collapse-section{
    font-family: 'vitropride', serif;
    letter-spacing: .1em;
}

#detailTitle {
    font-family: 'vitroin', serif;
    letter-spacing: .3em;
}

#detailContent{
    font-family: 'vitropride', serif;
    letter-spacing: .1em;

}